node_modules
node_modules
dist
dist/
build
.env
.env.local
.env.*.local
.cache
.parcel-cache
.next
out
.DS_Store
*.log
*.swp
*.swo
*~
.cert
.eslintcache
coverage
*.pid
*.seed
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
pnpm-lock.yaml
yarn.lock
package-lock.json

